@font-face {
  font-family: "Samsung Sharp Sans Regular";
  src: url(../../fonts/samsungsharpsans.otf);
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  src: url(../../fonts/samsungsharpsans-bold.otf);
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url(../../fonts/samsungsharpsans-medium.otf);
  font-style: normal;
}

// @font-face {
//     font-family: 'Samsung Sharp Sans';
//     src: url(../../fonts/samsungsharpsans-bold.otf);
//     font-style: normal;

// }
