@import "../../../../../assets/scss/global/global";

.aside-profile {
  width: 25%;
  margin-right: 50px !important;
  > ul {
    list-style: none !important;
  }
  > ul > li {
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 0px;
  }
  .active {
    color: #0dab42;
  }
  hr.active {
    background-color: #0dab42;
    border-color: #0dab42;
  }
  img {
    margin-top: 100px;
  }
  .eclip {
    padding: 0;
    position: absolute;
    left: 0;
    margin-top: 100px;
  }
}
