@import "../../../../../assets/scss/global/global";
.content-container {
  color: #404040;
  width: 100%;
  margin-top: 5%;
  &__benefits-container {
    .MuiTypography-h5 {
      font-size: 20px;
      font-family: Samsung Sharp Sans;
      font-weight: bold;
      line-height: 1.334;
    }
    &__wrapper {
      display: flex;
      margin-top: 3%;
      justify-content: space-between;
      &__benefits-details {
        display: flex;
        border-radius: 10px;
        border-style: none;
        width: 66%;
        box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.07);
        &__content {
          display: list-item;
          align-items: center;
          margin-left: 0%;
          padding: 5px 25px;
          margin-left: 6%;
          .MuiTypography-body1 {
            font-size: 1rem;
            font-family: Samsung Sharp Sans;
            font-weight: 400;
            line-height: 28px;
            margin-left: 20px;
          }
        }
      }
      &__other-info {
        width: 30%;
        border-radius: 10px;
        border-style: none;
        height: 300px;
        box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.07);
        &__content-line {
          display: flex;
          align-items: center;
          padding: 5px 10px;
          margin-left: 13px;
          //margin-left: 10px;
        }
      }
    }
  }
}
.margin-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  margin: 3% 0;
}

.generalAlign {
  margin-left: 20px;

  & > p:first-child {
    font-weight: bolder;
    color: black;
  }
  & > p:last-child {
    color: #7d7c7c;
  }
}

.boxInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
