@import "../../../../../assets/scss/global/global";
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  &__desc {
    text-align: center;
    padding-top: 3%;
  }
  &__desc1 {
    text-align: center;
  }
  &__descImgMain {
    padding-top: 5% !important;
  }
  &__descImgSub {
    display: flex;
    padding-top: 10%;
    width: -webkit-fill-available;
    justify-content: space-evenly;
    &__descImgSub {
      & > img {
        width: 208px;
        height: 208px;
        border-radius: 50%;
        background-size: cover;
      }
    }
  }
  &__job {
    padding-top: 5%;
  }
}
